{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}
<div class="video-with-text section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} container-fluid gx-0">
<div class="container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0">
    <div class="row gx-0">
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column text-center justify-content-center justify-content-lg-{{ section.settings.image_position_vertical }} align-items-center align-items-lg-{{ section.settings.image_position_horizontal }} order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}">
         <div class="video-container{% if section.settings.video_url == blank and section.settings.video == blank %}{% if section.settings.fallback_img != blank %} bg-image{%else%} bg-color{% endif %}{% endif %} position-relative">
        {% if section.settings.video_embed == blank or section.settings.video != blank %}
        <div class="video_overlay overlay-{{ section.id }} active">
            <h2 class="video_overlay_title text-inverse mb-1"><em>{{ section.settings.video_title }}</em></h2>
            <button class="video_play_button active">
            	<svg viewBox="0 0 36 36" preserveAspectRatio="xMidYMin slice">
                    <g fill="none" fill-rule="evenodd">
                        <circle cx="18" cy="18" r="17" stroke="#fff" stroke-width="2"></circle>
                        <path fill="#fff" d="M23.935 17.708l-10.313 6.033V11.676z"></path>
                    </g>
                </svg>
            </button>
        </div>
        <div class="video_title position-absolute text-inverse title-{{ section.id }}">{{ section.settings.video_title }}</div>
        <video id="video{{ section.id }}"{% if section.settings.video_url != blank %} src="{{ section.settings.video_url }}"{% endif %} controls playsinline>
            {% if section.settings.video contains ".mp4" %}
            <source src="{{ section.settings.video | image_url }}" type="video/mp4" />
            {% elsif section.settings.video contains ".webm" %}
    	    <source src="{{ section.settings.video | image_url }}" type="video/webm" />
    	    {% endif %}
        </video>
        {% elsif section.settings.video_embed != blank and section.settings.video == blank %}
        {{ section.settings.video_embed }}
        {% else %}
        {% endif %}
        </div>
       </div>
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column justify-content-lg-{{ section.settings.text_position }} text-col py-5 py-lg-0 text-{{ section.settings.content_alignment }} order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
         {% if section.settings.heading != blank %}
         <h2 class="{{ section.settings.heading_size }} text-{{ section.settings.content_color }}">{{ section.settings.heading }}</h2>
         {% endif %}
         {% if section.settings.content != blank %}
         <div class="mt-3 text-{{ section.settings.content_color }}">{{ section.settings.content }}</div>
         {% endif %}
         {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
         <div class="d-lg-flex justify-content-lg-start mt-4">
         <a class="btn btn-{{ section.settings.btn_color }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
         {% elsif section.settings.btn_label2 != blank %}
         <div class="d-flex mt-4">
             <a class="btn btn-{{ section.settings.btn_color }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
            <a class="btn btn-{{ section.settings.btn_color2 }} ms-3" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
             {{ section.settings.btn_label2 }}
         </a>
         </div>
           {% else %}
         {% endif %}
       </div>
     </div>
   </div>
</div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
}
 
.section-{{ section.id }} .text-col {
    padding: 0 {{ section.settings.content_padding }}px;
}

.section-{{ section.id }} .video-container video {
    width: 100%;
    height: auto;
}

{% if section.settings.video_embed != blank %}
.section-{{ section.id }} .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.section-{{ section.id }} .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
{% endif %}

.section-{{ section.id }} .video-container {
    width: {{ section.settings.video_width }}%;
}

.section-{{ section.id }} .video_overlay {
    display: none;
}

.section-{{ section.id }} .video_overlay.active {
    background: #00000066;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.section-{{ section.id }} .video_play_button {
    height: 50px;
    width: 50px;
    background: none;
    border: none;
}

.section-{{ section.id }} .video_title {
    opacity: 0;
    transition: opacity 0.5s ease;
    left: 2%;
    top: 2%;
}

.section-{{ section.id }} .video_title.hover {
    opacity: 1;
}

.section-{{ section.id }} .video_title.pause {
    opacity: 1;
}

.video-with-text ul li {
    font-size: 1rem;
    line-height: 1.6;
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} {
        padding: 2.5rem 0;
    }
    
    .section-{{ section.id }} .video-container {
        width: 100%;    
    }
    
    .section-{{ section.id }} .text-col {
        padding: 0 1.5rem;
    }
}
 
{% endstyles %}

{% scripts %}

document.addEventListener('DOMContentLoaded', function() {
var ctrlVideo = document.getElementById("video{{ section.id }}"); 
 
$('.overlay-{{ section.id }}').click(function(){
  if ($('.overlay-{{ section.id }}').hasClass("active")){
    
        ctrlVideo.play();
        
    $('.overlay-{{ section.id }}').toggleClass("active");
  }
});

$( '#video{{ section.id }}' ).on('mouseenter',function() {
  $('.title-{{ section.id }}').addClass("hover");
});

$( '#video{{ section.id }}' ).on('mouseleave',function() {
  $('.title-{{ section.id }}').removeClass("hover");
});

$('#video{{ section.id }}').on('pause',function(){
    $('.title-{{ section.id }}').addClass("pause");
});

$('#video{{ section.id }}').on('play',function() {
  $('.title-{{ section.id }}').removeClass("pause");
});

$('#video{{ section.id }}').on('ended',function(){

    $('.overlay-{{ section.id }}').toggleClass("active");
    $('.title-{{ section.id }}').addClass("d-none");
    this.currentTime = 0;
    this.pause();
});

});

{% endscripts %}
   
   {% schema %}
   {
       "name": "Video with Text and Buttons (2 Columns)",
       "description": "Video with Text section containing 1 column for video and 1 column for content with text and button",
       "settings": [
       {
           "type": "checkbox",
           "id": "fullwidth",
           "label": "Full Width"
       },
       {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "0",
           "options": [
           {
               "label": "Large",
               "value": "5"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "None",
               "value": "0"
           }]
       },
       {
        "type": "select",
        "id": "padding",
        "label": "Section Padding",
        "default": "80px",
        "options": [
        {
        "label": "None",
        "value": "0"
        },
        {
        "label": "Small",
        "value": "40px"
        },
        {
        "label": "Medium",
        "value": "80px"
        },
        {
        "label": "Large",
        "value": "120px"
        }]
        },
       {
           "type": "select",
           "id": "layout",
           "label": "Layout",
           "default": "1",
           "options": [
           {
               "label": "Video Left Content Right",
               "value": "1"
           },
           {
               "label": "Content Left Video Right",
               "value": "2"
           }]
       },
       {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background3",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
       {
           "type": "image_picker",
           "id": "video",
           "label": "Upload Video"
       },
       {
           "type": "header",
           "content": "or"
       },
       {
           "type": "richtext",
           "id": "video_embed",
           "label": "Add Video Embed Code"
       },
       {
           "type": "text",
           "id": "video_title",
           "label": "Video Title"
       },
       {
            "type": "range",
            "id": "video_width",
            "label": "Video Width",
            "default": 100,
            "min": 25,
            "max": 100,
            "step": 5
       },
       {
            "type": "select",
            "id": "image_position_vertical",
            "label": "Vertical Video Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "image_position_horizontal",
            "label": "Horizontal Video Position",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "End"
                }
            ]
        },
       {
            "type": "range",
            "id": "content_padding",
            "label": "Content Padding",
            "default": 80,
            "min": 0,
            "max": 200,
            "step": 20
        },
        {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "top"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "bottom"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Text Alignment",
            "default": "start",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
       {
           "type": "text",
           "id": "heading",
           "default": "Lorem ipsum",
           "label": "Heading"
       },
       {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {
                    "label": "H1",
                    "value": "h1"
                },
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                }
            ]
        },
       {
           "type": "richtext",
           "id": "content",
           "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
           "label": "Text"
       },
       {
           "type": "text",
           "id": "btn_label",
           "default": "Button 1",
           "label": "Button 1 Label"
       },
       {
           "type": "text",
           "id": "btn_link",
           "label": "Button 1 Link"
       },
       {
           "type": "select",
           "id": "btn_color",
           "label": "Button 1 Type",
           "default": "solid",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       },
       {
           "type": "text",
           "id": "btn_label2",
           "label": "Button 2 Label"
       },
       {
           "type": "text",
           "id": "btn_link2",
           "label": "Button 2 Link"
       },
       {
           "type": "select",
           "id": "btn_color2",
           "label": "Button 2 Type",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       }
       
   ]
   }
   {% endschema %}